.p-color {
  color: red;
}
.p-green {
  color: green
}
.p-yellow{
  color: yellow
} 
.d-block{
  display: block ;
  margin-top: 10px;
}
.mt-10{
  margin-top: 10px
}
p{
  margin:0 ;
  padding: 0;
}
.hack-alert{
  background-color: red ;
}